extends layout

block
  h1 KGS player hooks
  p Welcome! This site is a simple SaaS API. Use it to obtain a list of recent games played on KGS. An example:
  code= "curl "
    a(href=exampleUrl)= exampleUrl
